<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663125041269-9mjeg843v9o60pgiq4en2tfbloca41i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663125041269-9mjeg843v9o60pgiq4en2tfbloca41i3</string>
	<key>API_KEY</key>
	<string>AIzaSyD47y5nhHq_WAYNkYH3O9DRqslIiUVF3jk</string>
	<key>GCM_SENDER_ID</key>
	<string>663125041269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.akillibidik</string>
	<key>PROJECT_ID</key>
	<string>akillibidik-147b4</string>
	<key>STORAGE_BUCKET</key>
	<string>akillibidik-147b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663125041269:ios:bdcf5a543f11d13ad6183c</string>
	<key>DATABASE_URL</key>
	<string>https://akillibidik-147b4.firebaseio.com</string>
</dict>
</plist>